<p id="notice"><%= notice %></p>

<h1><%= @recipe.title %></h1>

<img src="<%= @recipe.image_url %>" alt="<%= @recipe.title %>" height="600px" width="900px">

<p>
  <strong>Summary:</strong>
  <%= @recipe.summary %>
</p>

<p>
  <strong>Total time:</strong>
  <%= @recipe.total_time %>
</p>

<p>
  <strong>Introduction:</strong><br>
  <% @introduction_paragraphs.each do |p| %>
    <p><%= p %></p>
  <% end %>
</p>

<% if @recipe.serves %>
  <p>
    <strong>Serves:</strong>
    <%= @recipe.serves %>
  </p>
<% end %>

<% if @recipe.makes %>
  <p>
    <strong>Makes:</strong>
    <%= @recipe.makes %> <%= @recipe.makes_unit %>
  </p>
<% end %>

<p>
  <strong>Type:</strong>
  <%= @recipe.recipe_type %>
</p>

<p>
    <strong>Tags:</strong>
    <%= @recipe.tags.to_s  %>
</p>

<em><%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %></em>

<br><br>

<p>
  <strong>Ingredients:</strong>
  <% @ingredient_sets.each do |s| %>
    <% if s.title? && s.title != "INSERT_TITLE" %>
      <p><em><%= s.title %>:</em></p><br>
    <% end %>
    <% s.ingredient_entries.sort.each do |e| %>
      <p>
        <a href="<%= edit_ingredient_entry_path(e) %>"><%= e.original_string %></a>
      </p>
    <% end %>
  <% end %>
</p>

<br><br>

<p>
  <strong>Method:</strong><br>
  <% @method_steps.each do |m| %>
    <p><%= m.position %>. <%= m.description %><a href="<%= edit_method_step_path(m) %>">   EDIT</a></p>
  <% end %>
</p>


<%= link_to 'Previous', "#{@recipe.id - 1}" %> |
<%= link_to 'Next', "#{@recipe.id + 1}" %> |
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %> |
<%= link_to 'Generate Jekyll Post', "/generate_jekyll_post?recipe_id=#{@recipe.id}" %>

