<% content_for :head do %>
  <script type="application/ld+json"><%= @recipe.json_schema %></script>
  <!-- TODO: add url method to recipe -->
  <!-- <meta property="og:url" content="<%= %>" /> -->
<% end %>

<section class="delicious">
  <main role="main">
    <article class="post single" role="article" itemscope itemtype="http://schema.org/BlogPosting">
      <header class="post-header">
        <h1 class="post-title" itemprop="name headline"><%= @recipe.title %></h1>
        <div class="post-meta clear">
          <time datetime="<%= @recipe.created_at.to_datetime %>" itemprop="datePublished">
            <%= @recipe.created_at.to_date %>
          </time>

          <span class="tags">
            <% @tags.each do |tag| %>
              <span><%= tag %></span>
            <% end %>
          </span>

          <span class="category">Serves: <%= @recipe.serves %></span>

          <% if admin_session? %>
            <% if @recipe.published? %>
              <p>/</p><p class="published-tag">Published</p>
            <% end %>
            <%= render("admin_panel") %>
          <% end %>

          <a href="" class="print" onclick="window.print();">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="846 -756 80 73.8" enable-background="new 846 -756 80 73.8" xml:space="preserve"><path fill="#ABABAB" d="M864.5-688.3h43.1v-12.3h-43.1V-688.3zM864.5-719.1h43.1v-18.5h-7.7c-1.3 0-2.4-0.4-3.3-1.3 -0.9-0.9-1.3-2-1.3-3.3v-7.7h-30.8V-719.1zM919.8-716c0-0.8-0.3-1.6-0.9-2.2 -0.6-0.6-1.3-0.9-2.2-0.9s-1.6 0.3-2.2 0.9c-0.6 0.6-0.9 1.3-0.9 2.2s0.3 1.6 0.9 2.2c0.6 0.6 1.3 0.9 2.2 0.9s1.6-0.3 2.2-0.9C919.5-714.4 919.8-715.2 919.8-716zM926-716v20c0 0.4-0.2 0.8-0.5 1.1s-0.7 0.5-1.1 0.5h-10.8v7.7c0 1.3-0.4 2.4-1.3 3.3 -0.9 0.9-2 1.3-3.3 1.3h-46.2c-1.3 0-2.4-0.4-3.3-1.3 -0.9-0.9-1.3-2-1.3-3.3v-7.7h-10.8c-0.4 0-0.8-0.2-1.1-0.5s-0.5-0.7-0.5-1.1v-20c0-2.5 0.9-4.7 2.7-6.5 1.8-1.8 4-2.7 6.5-2.7h3.1v-26.2c0-1.3 0.4-2.4 1.3-3.3 0.9-0.9 2-1.3 3.3-1.3h32.3c1.3 0 2.7 0.3 4.2 1 1.5 0.6 2.8 1.4 3.7 2.3l7.3 7.3c0.9 0.9 1.7 2.1 2.3 3.7s1 2.9 1 4.2v12.3h3.1c2.5 0 4.7 0.9 6.5 2.7C925.1-720.7 926-718.5 926-716z"/></svg>
            Print
          </a>
        </div>
      </header>

      <div class="post-content" itemprop="text">
        <p><img src="<%= @recipe.image_url %>" alt="<%= @recipe.title %> Image"></p>

        <div class="first-paragraph">
          <p><%= simple_format(@introduction_paragraphs.first) %></p>
        </div>

        <% @introduction_paragraphs.drop(1).each do |paragraph| %>
          <p><%= simple_format(paragraph) %></p>
        <% end %>

        <hr />
        <ul>
          <% @ingredient_entries.each do |entry| %>
            <li><%= entry.human_readable_entry %>
              <% if admin_session?  %>
                (<%= link_to "edit", edit_ingredient_entry_path(entry) %>)
              <% end %>
            </li>
          <% end %>
        </ul>

        <ol>
          <% @method_steps_with_description.each do |obj| %>
            <li>
              <p>
                <%= simple_format(obj.description) %>
                <% if admin_session?  %>
                  (<%= link_to "edit", edit_method_step_path(obj.method_step) %>)
                <% end %>
              </p>
            </li>
          <% end %>
        </ol>
      </div>
      <div class="post-meta clear">
        <% if admin_session? %>
          <%= render("admin_panel") %>
        <% end %>
      </div>
    </article>
  </main>
</section>
