<% content_for :head do %>
  <script type="application/ld+json"><%= recipe_json_schema %></script>
  <script src="https://kit.fontawesome.com/35cac145b0.js" crossorigin="anonymous"></script>
  <!-- TODO: add url method to recipe -->
  <!-- <meta property="og:url" content="<%= %>" /> -->
<% end %>

<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<section class="delicious">
  <main role="main">
    <article class="post single" role="article" itemscope itemtype="http://schema.org/BlogPosting">
      <header class="post-header">
        <h1 class="post-title" itemprop="name headline"><%= @recipe.title %></h1>
        <div class="post-meta clear">
          <time datetime="<%= @recipe.created_at.to_datetime %>" itemprop="datePublished">
            <%= @recipe.created_at.strftime("%-d %b %Y") %>
          </time>
          <span class="category"><%= serves_or_makes_text %></span>
          <% if admin_session? %>
            <% if @recipe.published? %>
              <p class="published-tag">/ Published</p>
            <% end %>
          <% end %>
        </div>
        <div class="post-meta clear">
          <span class="tags">
            <% @tags.each do |tag| %>
              <span><%= tag %></span>
            <% end %>
          </span>
        </div>

        <% if admin_session? %>
          <%= render("admin_panel") %>
        <% end %>
      </header>

      <div class="post-content" itemprop="text">
        <p><img src="<%= asset_path(@recipe.image) %>" width="900px" alt="<%= @recipe.title %> Image"></p>

        <div class="first-paragraph">
          <p><%= simple_format(@introduction_paragraphs.first) %></p>
        </div>

        <% @introduction_paragraphs.drop(1).each do |paragraph| %>
          <p><%= simple_format(paragraph) %></p>
        <% end %>

        <hr />
        <ul>
          <% @ingredient_entries.each do |entry| %>
            <li><%= entry.human_readable_entry %>
              <% if admin_session?  %>
                (<%= link_to "edit", edit_ingredient_entry_path(entry) %>)
              <% end %>
            </li>
          <% end %>
        </ul>

        <ol>
          <% @method_steps_with_description.each do |obj| %>
            <li>
              <p>
                <%= simple_format(obj.description) %>
                <% if admin_session?  %>
                  (<%= link_to "edit", edit_method_step_path(obj.method_step) %>)
                <% end %>
              </p>
            </li>
          <% end %>
        </ol>
      </div>
    </article>
  </main>
</section>
