<nav class="pagination is-small" role="navigation" aria-label="pagination">
  <% if @prev_post %>
    <a href="<%= blog_post_path(@prev_post) %>" class="pagination-previous">Previous</a>
  <% else %>
    <a class="pagination-previous" disabled>Previous</a>
  <% end %>

  <% if @next_post %>
    <a href="<%= blog_post_path(@next_post) %>" class="pagination-next">Next</a>
  <% else %>
    <a class="pagination-next" disabled>Next</a>
  <% end %>
<div class="pagination-list dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu">
      <span>Admin</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu is-left" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <a href="<%= unpublish_blog_posts_path %>?id=<%= @blog_post.id %>" class="dropdown-item">
        Unpublish
      </a>

      <a href="<%= publish_blog_posts_path %>?id=<%= @blog_post.id %>" class="dropdown-item">
        Publish
      </a>

      <a href="<%= edit_blog_post_path(@blog_post) %>" class="dropdown-item">
        Edit
      </a>

      <a href="<%= test_email_blog_posts_path %>?id=<%= @blog_post.id %>" class="dropdown-item">
        Send Test Email
      </a>

      <a href="<%= bulk_send_emails_blog_posts_path %>?id=<%= @blog_post.id %>" class="dropdown-item">
        Bulk Send Emails
      </a>
    </div>
  </div>
</div>
</nav>
