<section class="delicious">
  <main role="main">
    <section class="index" itemscope itemtype="http://schema.org/Blog">
      <section class="newest-recipes clear">

        <article class="post" role="article" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
          <div class="post-excerpt">
            <p><img src="<%= @latest_entry.image_url %>" alt="<%= @latest_entry.title %>"/></p>
          </div>
          <div class="details">
            <h6 class="post-title first-post" itemprop="name headline">
              <a itemprop="url" href="<%= @latest_entry.permalink %>"><%= @latest_entry.title %></a>
            </h6>

            <div class="post-content">
              <%= simple_format(@latest_entry_excerpt) %>
            </div>
          </div>
        </article>

        <div id="subscribed" style="display: none"></div>

        <% @next_two_latest_entries.each do |entry| %>
          <article class="post" role="article" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
            <div class="post-excerpt">
              <p><img src="<%= entry.image_url %>" alt="<%= entry.title %>" /></p>
            </div>
            <div class="details">
              <h6 class="post-title first-post" itemprop="name headline">
                <a itemprop="url" href="<%= entry.permalink %>"><%= entry.title %></a>
              </h6>
            </div>
          </article>
        <% end %>
      </section>

      <section class="subscribe-form clear">
        <%= form_with model: @email_subscriber, url: email_subscribers_path do |form| %>
          <div class="field has-addons is-justify-content-center">
            <div class="control">
                <%= form.email_field :email, class: "input is-medium email-field", placeholder: "Email me tasty things!" %>
            </div>
            <div class="control">
                <%= form.submit value: "Go", class: "button is-medium submit-button" %>
            </div>
          </div>

          <% if flash[:validation_error] %>
            <div class="notice"><%= flash[:validation_error].sub("Validation failed: Email", "Error: email") %></div>
          <% end %>
        <% end %>
      </section>

      <section class="posts clear">
        <div class="section-title"><span>Recent Posts</span></div>

        <% @recent_entries.each do |entry| %>
          <article class="post" role="article" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
            <h2 class="post-title" itemprop="name headline">
              <a itemprop="url" href="<%= entry.permalink %>">
                <%= entry.title %>
              </a>
            </h2>

            <div class="post-content">
              <p><img src="<%= entry.image_url %>" alt="<%= entry.title %>" /></p>
            </div>
          </article>
        <% end %>
      </section>

      <section class="posts clear bottom-panel" style="margin-bottom: 80px;">
        <div class="social clear">
          <a href="https://facebook.com/grubdaily"><%= render "facebook_icon" %></a>
          <a href="twitter.com/grubdaily_tom"><%= render "twitter_icon" %></a>
          <a href="https://www.instagram.com/grubdaily"><%= render "instagram_icon" %></a>
          <a href="https://www.pinterest.co.uk/grubdaily"><%= render "pinterest_icon" %></a>
        </div>
        <!-- <a class="view-all" href="/photos">Click here to see ALL photos</a> -->
      </section>
    </section>
  </main>
</section>
