<% content_for :head do %>
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<% end %>

<section class="delicious">
  <main role="main">
    <section class="index" itemscope itemtype="http://schema.org/Blog">
      <section class="newest-recipes clear">
        <div class="main-carousel">
          <% @entries_for_display.each do |entry| %>
            <div class="carousel-cell">
              <img src="<%= asset_path(entry.image) %>" alt="<%= entry.title %>"/>
            </div>
          <% end %>
        </div>

        <div id="subscribed" style="display: none"></div>
      </section>

      <section class="subscribe-form clear">
        <%= form_with model: @email_subscriber, url: email_subscribers_path do |form| %>
          <div class="field has-addons is-justify-content-center">
            <div class="control">
                <%= form.email_field :email, class: "input is-medium email-field", placeholder: "Email me tasty things!" %>
            </div>
            <div class="control">
                <%= form.submit value: "Go", class: "button is-medium submit-button" %>
            </div>
          </div>

          <% if flash[:validation_error] %>
            <div class="notice"><%= flash[:validation_error].sub("Validation failed: Email", "Error: email") %></div>
          <% end %>
        <% end %>
      </section>

      <section class="posts clear">
        <div class="section-title"><span>Recent Posts</span></div>

        <% @recent_entries.each do |entry| %>
          <article class="post" role="article" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
            <h2 class="post-title" itemprop="name headline">
              <a itemprop="url" href="<%= entry.permalink %>">
                <%= entry.title %>
              </a>
            </h2>

            <div class="post-content">
              <p><img src="<%= asset_path(entry.image) %>" alt="<%= entry.title %>" /></p>
            </div>
          </article>
        <% end %>
      </section>

      <section class="posts clear bottom-panel" style="margin-bottom: 80px;">
        <div class="social clear">
          <a href="https://facebook.com/grubdaily"><%= render "facebook_icon" %></a>
          <a href="twitter.com/grubdaily_tom"><%= render "twitter_icon" %></a>
          <a href="https://www.instagram.com/grubdaily"><%= render "instagram_icon" %></a>
          <a href="https://www.pinterest.co.uk/grubdaily"><%= render "pinterest_icon" %></a>
        </div>
      </section>
    </section>
  </main>
</section>

<script>
  const carouselElement = document.querySelector(".main-carousel");
  const flkty = new Flickity(carouselElement, {
    cellAlign: "left",
    wrapAround: true,
    lazyLoad: true,
    resize: true,
    setGallerySize: true,
    autoPlay: 3000,
  });
</script>
