<!DOCTYPE html>
<html>
  <head>
    <title>grubdaily &mdash; For tasty things </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <% if Rails.env.production? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109063146-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-109063146-1');
      </script>
    <% end %>

    <meta name="p:domain_verify" content="9d9fd8a69b2c412192f82e9042d86909"/>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>grubdaily &mdash; For tasty things </title>
    <meta property="og:title" content="grubdaily &mdash; For tasty things " />
    <meta name="twitter:title" content="grubdaily &mdash; For tasty things " />
    <meta name="description" content="For tasty things">
    <meta name="description" property="og:description" content="For tasty things" />
    <meta name="twitter:description" content="For tasty things" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@your_handler" />
    <meta property="og:image" content="" />
    <meta name="twitter:image" content="" />
    <meta name="author" content="grubdaily" />
    <meta name="copyright" content="Copyright by grubdaily. All Rights Reserved." />

    <link href="https://s3.eu-west-2.amazonaws.com/grubdaily/favicon_square.png" rel="shortcut icon" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Cardo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora|Raleway:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="canonical" href="<%= request.original_url %>">

    <link rel="alternate" type="application/rss+xml" title="" href="<%= request.base_url %>/feed.xml">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Oswald:400,700', 'Patrick Hand:400', 'Abel:400', 'Droid Serif:400,700', 'Yellowtail:400']
            }
        });
    </script>
    <meta name="google-site-verification" content="aomWX31Idx6uLZL7Ka1ojyR1Gjg_WiA99nih90VtLhw" />
    <script src="https://kit.fontawesome.com/35cac145b0.js" crossorigin="anonymous"></script>
    <%= yield :head %>
  </head>
  <div id="main-container">
    <body>
      <!-- Environment banner to warn when in development mode -->
      <% if Rails.env == "development" %>
          <div>
            <h2 id="env-banner" style="background-color: #E5A636">
              <strong><%= Rails.env %></strong>
              <script type="text/javascript">
                window.addEventListener("resize", () => {
                  document.getElementById("env-banner").innerHTML = `width: ${document.body.clientWidth}px`
                });
              </script>
            </h2>
          </div>
      <% end %>

        <header class="header clear">
          <nav class="navbar" role="navigation" aria-label="main navigation">
              <div class="navbar-brand">
                <a href="<%= recipe_index_path %>" role="button" class="navbar-item navbar-search" aria-label="menu" aria-expanded="false">
                  <span class="icon is-medium">
                    <i class="fas fa-search fa-lg"></i>
                  </span>
                </a>
                <%= link_to root_path, class: "blog-logo navbar-item" do %>
                  <%= image_tag(asset_path("grubdaily-white"), alt: "grubdaily") %>
                <% end %>

                <a id="nav-burger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </a>
              </div>

              <div id="nav-menu" class="navbar-menu">
                <div class="navbar-start">
                  <%= link_to("Home", root_path, class: "navbar-item") %>
                  <%= link_to("Gallery", photos_path, class: "navbar-item") %>
                  <%= link_to("Recipe Index", recipe_index_path, class: "navbar-item") %>
                  <%= link_to("About", about_path, class: "navbar-item") %>
                </div>
              </div>
          </nav>
        </header>
      <%= yield %>
    </div>

    <footer>
      <div id="footer" class="footer clear">
        <div class="footer-left-column">
            <%= link_to root_path do %>
                <%= image_tag(GrubdailyRails::FAVICON_LOGO_LARGE, width: "80px") %>
            <% end %>
          <p>&copy; <%= Date.today.year %></p>
        </div>

        <div class="footer-right-column">
          <p><%= link_to("Home", root_path) %></p>
          <p><%= link_to("Gallery", photos_path) %></p>
          <p><%= link_to("Recipe Index", recipe_index_path) %></p>
          <p><%= link_to("About", about_path) %></p>
        </div>
      </div>
    </footer>

    <script src="<%= request.base_url %>/svg4everybody.min.js"></script>
    <%= javascript_pack_tag "scripts" %>
    <%= javascript_pack_tag "svg4everybody" %>
    <%= javascript_pack_tag "navbarMenu.js" %>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '', 'auto');
        ga('send', 'pageview');
    </script>
  </body>
</html>
