<!DOCTYPE html>
<html>
  <head>
    <title>grubdaily &mdash; For tasty things </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <% if Rails.env.production? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109063146-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-109063146-1');
      </script>
    <% end %>

    <meta name="p:domain_verify" content="9d9fd8a69b2c412192f82e9042d86909"/>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>grubdaily &mdash; For tasty things </title>
    <meta property="og:title" content="grubdaily &mdash; For tasty things " />
    <meta name="twitter:title" content="grubdaily &mdash; For tasty things " />
    <meta name="description" content="For tasty things">
    <meta name="description" property="og:description" content="For tasty things" />
    <meta name="twitter:description" content="For tasty things" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@your_handler" />
    <meta property="og:image" content="" />
    <meta name="twitter:image" content="" />
    <meta name="author" content="grubdaily" />
    <meta name="copyright" content="Copyright by grubdaily. All Rights Reserved." />

    <link href="https://s3.eu-west-2.amazonaws.com/grubdaily/favicon_square.png" rel="shortcut icon" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Cardo&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lora|Raleway:500" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <link rel="canonical" href="<%= request.original_url %>">

    <link rel="alternate" type="application/rss+xml" title="" href="<%= request.base_url %>/feed.xml">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Oswald:400,700', 'Patrick Hand:400', 'Abel:400', 'Droid Serif:400,700', 'Yellowtail:400']
            }
        });
    </script>
    <meta name="google-site-verification" content="aomWX31Idx6uLZL7Ka1ojyR1Gjg_WiA99nih90VtLhw" />
    <%= yield :head %>
  </head>

  <body>

    <!-- Environment banner to warn when in development mode -->
    <% if Rails.env == "development" %>
        <div><h2 style="background-color: #E5A636"><strong><%= Rails.env %></strong></h2></div>
    <% end %>

      <header class="header clear">
        <div class="blog-info clear">
            <%= link_to root_path, class: "blog-logo" do %>
                <%= image_tag(GrubdailyRails::HEADER_LOGO, alt: "grubdaily") %>
            <% end %>
        </div>
        <div class="navbar">
          <div class="clear" style="display: flex;">
            <nav role="navigation" class="mainmenu">
              <ul class="clear">
                  <li><%= link_to("Home", root_path) %></li>
                  <li><%= link_to("Recipe Index", recipe_index_path) %></li>
                  <li><%= link_to("About", about_path) %></li>
                  <li><%= link_to("Photos", photos_path) %></li>
              </ul>
            </nav>
<!--             <div class="search" role="search">
              <div class="search-holder clear">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 80 80" xml:space="preserve"><path fill="#ddd" d="M55.4 33.8c0-5.9-2.1-11-6.3-15.2s-9.3-6.3-15.2-6.3 -11 2.1-15.2 6.3 -6.3 9.3-6.3 15.2 2.1 11 6.3 15.2 9.3 6.3 15.2 6.3 11-2.1 15.2-6.3S55.4 39.8 55.4 33.8zM80 73.8c0 1.7-0.6 3.1-1.8 4.3C77 79.4 75.5 80 73.8 80c-1.7 0-3.2-0.6-4.3-1.8L53 61.7c-5.7 4-12.1 6-19.2 6 -4.6 0-9-0.9-13.1-2.7s-7.8-4.2-10.8-7.2S4.4 51.2 2.7 47 0 38.4 0 33.8s0.9-9 2.7-13.1 4.2-7.8 7.2-10.8 6.6-5.4 10.8-7.2S29.3 0 33.8 0s9 0.9 13.1 2.7 7.8 4.2 10.8 7.2 5.4 6.6 7.2 10.8 2.7 8.6 2.7 13.1c0 7.1-2 13.4-6 19.2l16.5 16.5C79.4 70.7 80 72.1 80 73.8z"/></svg>
                <input type="text" id="search-input" placeholder="search...">
              </div>
              <ul id="results-container" class="results-container"></ul>
            </div> -->
          </div>
        </div>
      </header>
    <%= yield %>

    <footer>
      <div class="footer clear">
        <div class="footer-left-column">
            <%= link_to root_path do %>
                <%= image_tag(GrubdailyRails::FAVICON_LOGO_LARGE, width: "80px") %>
            <% end %>
<!--           <a href="https://www.grubdaily.com">
            <img src="https://s3.eu-west-2.amazonaws.com/grubdaily/favicon_large.jpg" width="80px">
          </a> -->
          <p>&copy; <%= Date.today.year %></p>
        </div>

        <div class="footer-right-column">
          <p><%= link_to("Home", root_path) %></p>
          <p><%= link_to("Recipe Index", recipe_index_path) %></p>
          <p><%= link_to("About", about_path) %></p>
          <p><%= link_to("Photos", photos_path) %></p>
        </div>
      </div>
    </footer>

<!-- TODO: remove all of the static links below -->

<!--     <script src="https://www.grubdaily.com/assets/js/jquery-1.12.2.min.js"></script>
    <script src="https://www.grubdaily.com/assets/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="https://www.grubdaily.com/assets/js/lunr.min.js"></script>
    <script src="https://www.grubdaily.com/assets/js/lunr-feed.js"></script>
    <script src="https://www.grubdaily.com/assets/js/jquery.fitvids.js"></script>
    <script src="https://www.grubdaily.com/assets/js/scripts.js"></script> -->
    <!-- <script src="https://www.grubdaily.com/assets/js/svg4everybody.min.js"></script> -->
    <script src="<%= request.base_url %>/svg4everybody.min.js"></script>
    <%= javascript_pack_tag "scripts" %>
    <%= javascript_pack_tag "svg4everybody" %>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '', 'auto');
        ga('send', 'pageview');
    </script>
  </body>
</html>
