<%= form_with(model: method_step, local: true) do |form| %>
  <% if method_step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(method_step.errors.count, "error") %> prohibited this method_step from being saved:</h2>

      <ul>
      <% method_step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position, id: :method_step_position %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :method_step_description %>
  </div>

  <div class="actions">
    <%= form.submit "Update", class: "button is-success" %>
  </div>
<% end %>
